/* reset immagini */

img {
    max-width: 100%;
}

/* header */
.header {
    background-color: rgb(37, 150, 190);
    background-image: url(../img/pattern.png);
    background-size: 300px;
    height: 100px;
}

.header-logo {
    height: 50%;
}

/* MAIN */
.article-title {
    font-size: 46px;
}

.author a {
    text-decoration: none;
    color: rgb(16, 30, 151);
}

.aticle-image figcaption {
    font-size: 12px;
}

/* Per raggruppare due classi insieme usiamo la , */

.author,
.date {
    color: gray;
}

/* .highlight{
     font-weight: 400;
     background-color: yellow;
} */
/* Tabella */
.large-col {
    width: 50%;
}

.article-table th {
    text-align: left;
}

.article-table thead {
    background-color: rgb(62, 133, 161);
    color: aliceblue;

}

.article-table {
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background-color: rgba(46, 132, 167, 0.74);
}

/* sezione suggerimenti */
#monitor {

    background-image: url(../img/monitor.jpg);

}

/* .monitor a {
    color: aliceblue;
    text-decoration: none;
} */

#graph {
    background-image: url(../img/graph.jpg)
}

/* .graph a {
    color: aliceblue;
    text-decoration: none;
} */

.suggestion {
    width: 20%;
    aspect-ratio: 1;
    margin-bottom: 10px;

}

.suggestion a {
    color: aliceblue;
    text-decoration: none;

}